Source: ros-rolling-reductstore-agent
Section: misc
Priority: optional
Maintainer: Anthony Cavin (@anthonycvn) <info@reduct.store>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-rolling-ament-copyright <!nocheck>, ros-rolling-ament-flake8 <!nocheck>, ros-rolling-ament-pep257 <!nocheck>, ros-rolling-rclpy, ros-rolling-std-msgs, ros-rolling-std-srvs, ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-reductstore-agent
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-rolling-rclpy, ros-rolling-std-msgs, ros-rolling-std-srvs, ros-rolling-ros-workspace
Description: ROS2 recorder node that logs selected topics to ReductStore, with YAML-driven pipelines (mcap/raw, compression, splitting, down-sampling, labelling).
